anytree==2.8.0
appdirs==1.4.4
asn1crypto==1.4.0
attrs==19.3.0
Automat==20.2.0
Beaker==1.11.0
blinker==1.4
CacheControl==0.12.6
cffi==1.14.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conda==4.3.16
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.0
distlib==0.3.1
distro==1.5.0
Flask==1.1.2
Flask-Cache==0.13.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
GeoIP==1.3.2
html5lib==1.1
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
libmsym==0.2.4
lxml==4.5.2
Mako==1.1.3
mallard-ducktype==1.0.2
MarkupSafe==1.1.1
msgpack==1.0.0
numpy==1.19.1
ordered-set==4.0.2
packaging==20.4
pep517==0.8.2
Pillow==7.2.0
ply==3.11
progress==1.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycosat==0.6.3
pycparser==2.20
Pygments==2.6.1
PyGObject==3.36.1
PyHamcrest==1.9.0
pylibjpeg==1.1.1
pylibjpeg-openjpeg==1.0.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dotenv==0.14.0
pyxdg==0.26
rencode==1.0.6
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
service-identity==18.1.0
setproctitle==1.1.10
six==1.15.0
SQLAlchemy==1.3.18
style==1.1.0
toml==0.10.1
Twisted==20.3.0
update==0.0.1
urllib3==1.25.10
webencodings==0.5.1
Werkzeug==1.0.1
zope.interface==5.1.0
