.header {
    z-index: 5;
    width: min-content;
    width: -moz-min-content;
}

.header.wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 64px;
    left: 0;
    top: 0;

    /* Gray 4 */
    background: #828282;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header.buttons {
    user-select: none;
    -moz-user-select: none;
}

.header.buttons.container {
    background: none;
    display: flex;
    flex-direction: row;
    padding: 0;

    position: relative;
    width: 1000px;
    height: 64px;
    left: 200px;
}

.header.buttons.wrapper {
    display: block;
    width: 208px;

    background: none;
    box-shadow: none;
}

.header.buttons.button {
    display: inline-block;
    position: relative;
    width: 196px;
    height: 44px;
    border-radius: 0;
    padding: 0;
    background: #E0E0E0;

    text-align: center;
    line-height: 40px;

    margin: 8px 8px 0 0;

    /* Text */
    font-size: 24px;

    color: #000000;

    border: outset 2px #E0E0E0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.header.buttons.button:hover {
    background-color: #BDBDBD;
}

.header.user {
    align-items: center;
    line-height: 32px;
    font-size: 24px;
}

.header.user.container {
    display: block;
    position: absolute;
    width: 208px;
    height: 64px;
    right: 0;
    top: 0;

    align-self: end;

    padding: 0;
    margin: 8px;
}

.header.user.panel {
    padding: 0;
    width: available;
    width: -moz-available;
}

.header.user.panel.profile {
    display: flex;
    flex-direction: row;
    height: 32px;
    padding: 8px;
    background: #E0E0E0;
}

.header.user.panel.rect {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 64px;
    margin: 0;
    padding: 8px 8px 0 8px;
    background: #E0E0E0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.header.user.panel.pointer {
    visibility: visible;
    z-index: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 56px;
    right: 8px;

    /* Gray 5 */
    background: #E0E0E0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(45deg);
}

.header.user.text {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
}

.header.user.pic {
    position: relative;
    right: 0;
    margin: 8px;
    padding: 2px;
}

.header.user.buttons.button.user {
    padding: 0;
    position: relative;
    height: 40px;
    background: #E0E0E0;
    border-radius: 8px;
    border: 1px solid #BDBDBD;
    margin: 0 0 8px 0;

    box-shadow: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    text-align: center;

    color: #000000;
}

.header.user.buttons.button.user:hover {
    background-color: #BDBDBD;
}

.fa.fa-user {
    margin: 0;
}

.categories {
    visibility: hidden;
    position: relative;
    z-index: 5;
    text-align: center;
    line-height: 48px;
}

.categories.category {
    visibility: inherit;
    z-index: 3;
    position: relative;
    width: 208px;
    height: 48px;
    left: 0;
    background-color: #BDBDBD;

    padding: 0 0 4px;
}


.categories.category:last-child {
    padding: 0;
}

.categories.buttons {
    visibility: inherit;
}

.categories.buttons.button {
    display: inline-block;
    width: 100%;
    height: 48px;
    background: #E0E0E0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.categories.buttons.button:hover {
    background-color: #BDBDBD;
}

.categories.buttons.button.nested {

}

.categories.buttons.button.selected {

}

.categories.buttons.container {

}

.categories.subcatalog {
    visibility: hidden;
    flex-direction: column;
    padding: 0;

    position: relative;
    z-index: 7;
    width: 208px;
    left: 200px;
    top: -96px
}

.categories.subcatalog:hover {
    display: block;
}

.fa.fa-angle-right {
    visibility: inherit;
    position: relative;
    z-index: 5;
    top: -48px;
    right: -96px;
    background-color: rgba(0, 0, 0, 0);
}
