* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

}

.page {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

html, body {
    height: 100%;
    margin: 0;
}

#page {
    min-height: 100%;
    position: relative;
}

#content_wrapper {
    display: inline-block;
    z-index: 4;
    padding-bottom: 50px;
    background-color: #F2F2F2;
    position: relative;
    padding-left: 160px;
    padding-right: 208px;
    width: calc(100vw - 379px);
    min-height: 75vh;
}

.site.main.panel {
    min-height: calc(100vh - 300px);
    margin-right: 208px;

    display: grid;
    grid-column: auto;
    grid-row-gap: 8px
}
