* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

}

.page {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

html, body {
    height: 100%;
    margin: 0;
}

#page {
    min-height: 100%;
    position: relative;
}

.site.main.panel {
    min-height: calc(100vh - 300px);
    margin-right: 208px;
}
